<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <item view="VibeJsonChatView"
          icon="vaadin:magic"
          title="msg://ru.javaboys.vibejson.view.vibejsonchat/vibeJsonChatView.title"/>
    <item view="WorkflowConfiguration.list"
          icon="vaadin:cogs"
          title="msg://ru.javaboys.vibejson.view.workflowconfiguration/workflowConfigurationListView.title"/>
    <item view="User.list"
          icon="vaadin:users"
          title="msg://ru.javaboys.vibejson.view.user/UserListView.title"/>
</menu-config>
